<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome <%= userDetails.fullName %></h1>
  <!-- <p>Email: <%= userDetails.email %></p>
  <p>Phone: <%= userDetails.phone %></p> -->
  <a href="/new-booking">Create a new booking</a>
  <a href="/booking-details">View previous booking details</a>
</body>
</html>