<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="center-container">
  <h1>Welcome again <%= userDetails.fullName %></h1>
  <div class="button-container">
    <button onclick="location.href='/booking-details'">View Booking Details</button>
    <br>
    <button onclick="location.href='/new-booking'">Book new ticket</button>
  </div>
  </div>
</body>
</html>